{% extends 'layout/base.html' %}
{% load static %}
{% load mask %}

{% block content %}
<div class="container-fluid">
    <!-- Header -->
    <div class="nk-block-head nk-block-head-sm">
        <div class="nk-block-between">
            <div class="nk-block-head-content">
                <h3 class="nk-block-title page-title">{{ title }}</h3>
                <div class="nk-block-des text-soft">
                    <p>{{ subtitle }}</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Tabela de Extrato Detalhado -->
    <div class="card card-bordered card-preview">
        <div class="card-inner">
            <table class="table" data-toggle="table" data-search="true" data-show-columns="true">
                <thead>
                    <tr>
                        <th>Data</th>
                        <th>Titular</th>
                        <th>CPF/CNPJ</th>
                        <th>Descrição</th>
                        <th class="text-end">Valor (R$)</th>
                        <th>Natureza</th>
                        <th>Origem/Destino</th>
                        <th>CPF</th>
                    </tr>
                </thead>
                <tbody>
                    {% for extrato in extratos %}
                    <tr>
                        <td>{{ extrato.data_lancamento|date:"d/m/Y" }}</td>
                        <td>{{ extrato.nome_titular|truncatechars:30 }}</td>
                        <td>{{ extrato.cpf_cnpj_titular|mask:'cpf_cnpj' }}</td>
                        <td>{{ extrato.descricao_lancamento|truncatechars:40 }}</td>
                        <td class="text-end">{{ extrato.valor_transacao|real }}</td>
                        <td class="text-center">
                            <span
                                class="badge badge-dim {% if extrato.natureza_lancamento == 'C' %}badge-success{% else %}badge-danger{% endif %}">
                                {{ extrato.get_natureza_lancamento_display }}
                            </span>
                        </td>
                        <td>{{ extrato.nome_pessoa_od|truncatechars:30 }}</td>
                        <td>{{ extrato.cpf_cnpj_od|mask:'cpf_cnpj' }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-table@1.24.2/dist/bootstrap-table.min.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap-table@1.24.2/dist/bootstrap-table.min.js"></script>
<script>
    const $table = $('#table');
    function initTable() {
        $table.bootstrapTable('destroy').bootstrapTable({
            height: 550,
            locale: $('#locale').val(),
        });
    }
    $(function () {
        initTable();
    });
</script>
{% endblock %}