<div class="nk-sidebar" data-content="sidebarMenu">
    <div class="nk-sidebar-inner" data-simplebar>
        <ul class="nk-menu nk-menu-lg">
            <li class="nk-menu-heading">
                <h6 class="overline-title text-primary-alt">Plataforma ALIAS</h6>
            </li>
            <li class="nk-menu-item"><a href="/" class="nk-menu-link">
                    <span class="nk-menu-icon">
                        <em class="icon ni ni-dashboard"></em>
                    </span>
                    <span class="nk-menu-text">Início</span>
                </a>
            </li>

            <li class="nk-menu-item has-sub">
                <a href="#" class="nk-menu-link nk-menu-toggle" data-original-title="" title="">
                    <span class="nk-menu-icon">
                        <em class="icon fa-regular fa-folder"></em>
                    </span>
                    <span class="nk-menu-text">Casos</span>
                </a>

                <ul class="nk-menu-sub">
                    <li class="nk-menu-item">
                        <a href="/casos/index" class="nk-menu-link" data-original-title="" title="">
                            <span class="nk-menu-text">Gerenciador</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="nk-menu-item has-sub">
                <a href="#" class="nk-menu-link nk-menu-toggle" data-original-title="" title="">
                    <span class="nk-menu-icon">
                        <i class="icon fa-regular fa-money-bill-trend-up"></i>
                    </span>
                    <span class="nk-menu-text">Inteligência Financeira</span>
                </a>

                <ul class="nk-menu-sub">
                    <li class="nk-menu-item">
                        <a href="/financeira/index" class="nk-menu-link" data-original-title=""
                            title="Gerenciar RIFs do Caso">
                            <span class="nk-menu-text">Gerenciar RIFs</span>
                        </a>
                    </li>
                    <li class="nk-menu-item">
                        <a href="/financeira/comunicacoes" class="nk-menu-link" data-original-title=""
                            title="Ver todas as comunicações do Caso">
                            <span class="nk-menu-text">Comunicações</span>
                        </a>
                    </li>
                    <li class="nk-menu-item">
                        <a href="/financeira/envolvidos" class="nk-menu-link" data-original-title=""
                            title="Ver todos os envolvidos do Caso">
                            <span class="nk-menu-text">Envolvidos</span>
                        </a>
                    </li>
                    <li class="nk-menu-item">
                        <a href="/financeira/ocorrencias" class="nk-menu-link" data-original-title=""
                            title="Ver todas as ocorrências do Caso">
                            <span class="nk-menu-text">Ocorrências</span>
                        </a>
                    </li>
                    <li class="nk-menu-item">
                        <a href="/financeira/informacoesadicionais" class="nk-menu-link" data-original-title=""
                            title="Ver todas as informações adicionais do Caso">
                            <span class="nk-menu-text">Informacoes Adicionais</span>
                        </a>
                    </li>
                    <li class="nk-menu-item">
                        <a href="/financeira/analisedevinculos" class="nk-menu-link" data-original-title=""
                            title="Ver todas as análises de vínculos do Caso">
                            <span class="nk-menu-text">Análise de Vínculos</span>
                        </a>
                    </li>
                    <li class="nk-menu-item">
                        <a href="/financeira/errosimportacao" class="nk-menu-link" data-original-title=""
                            title="Ver todos os erros de importação do Caso">
                            <span class="nk-menu-text">Erros de Sincronização</span>
                        </a>
                    </li>
                    <li class="nk-menu-item">
                        <a href="/financeira/resumo" class="nk-menu-link" data-original-title=""
                            title="Relatório Técnico de Inteligência Financeira">
                            <span class="nk-menu-text">Resumo</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="nk-menu-item has-sub">
                <a href="#" class="nk-menu-link nk-menu-toggle" data-original-title="" title="">
                    <span class="nk-menu-icon">
                        <i class="icon fa-regular fa-bank"></i>
                    </span>
                    <span class="nk-menu-text">Análise Bancária</span>
                </a>

                <ul class="nk-menu-sub">
                    <li class="nk-menu-item">
                        <a href="/bancaria/index" class="nk-menu-link" data-original-title="" title="">
                            <span class="nk-menu-text">Gerenciar Cooperações</span>
                        </a>
                    </li>
                    <li class="nk-menu-item">
                        <a href="/bancaria/dashboard" class="nk-menu-link" data-original-title="" title="">
                            <span class="nk-menu-text">Dashboard</span>
                        </a>
                    </li>
                    <li class="nk-menu-item">
                        <a href="{% url 'bancaria:extrato_detalhado' %}" class="nk-menu-link" data-original-title=""
                            title="">
                            <span class="nk-menu-text">Extrato Detalhado</span>
                        </a>
                    </li>
                    <li class="nk-menu-item">
                        <a href="{% url 'bancaria:calendario' %}" class="nk-menu-link" data-original-title="" title="">
                            <span class="nk-menu-text">Movimentação por Dia</span>
                        </a>
                    </li>
                    <li class="nk-menu-item">
                        <a href="{% url 'bancaria:unificar_dados' %}" class="nk-menu-link" data-original-title=""
                            title="Unificar nomes de titulares e outras informações">
                            <span class="nk-menu-text">Unificar Dados</span>
                        </a>
                    </li>
                    <li class="nk-menu-item">
                        <a href="{% url 'bancaria:analise_de_vinculos' %}" class="nk-menu-link" data-original-title=""
                            title="Ver todas as análises de vínculos do Caso">
                            <span class="nk-menu-text">Análise de Vínculos</span>
                        </a>
                    </li>
                    <li class="nk-menu-item">
                        <a href="{% url 'bancaria:analise_vinculos_selecionados' %}" class="nk-menu-link" data-original-title=""
                            title="Análise de vínculos entre titulares e contrapartes selecionados">
                            <span class="nk-menu-text">Análise de Vínculos Selecionados</span>
                        </a>
                    </li>
                    <li class="nk-menu-item">
                        <a href="{% url 'bancaria:filtrar_extrato_titular' %}" class="nk-menu-link" data-original-title=""
                            title="Filtrar extratos por titular e intervalo de datas">
                            <span class="nk-menu-text">Filtrar Extrato por Titular</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="nk-menu-item has-sub">
                <a href="#" class="nk-menu-link nk-menu-toggle" data-original-title="" title="">
                    <span class="nk-menu-icon">
                        <i class="icon fa-regular fa-building-user"></i>
                    </span>
                    <span class="nk-menu-text">Análise Patrimonial</span>
                </a>
            </li>

            <li class="nk-menu-item has-sub">
                <a href="#" class="nk-menu-link nk-menu-toggle" data-original-title="" title="">
                    <span class="nk-menu-icon">
                        <i class="icon fa-regular fa-messages"></i>
                    </span>
                    <span class="nk-menu-text">Chat com Dados</span>
                </a>
                <ul class="nk-menu-sub">
                    <li class="nk-menu-item">
                        <a href="{% url 'bancaria:chat_dados' %}" class="nk-menu-link" data-original-title="" title="">
                            <span class="nk-menu-text">Chat com Dados</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="nk-menu-item has-sub">
                <a href="#" class="nk-menu-link nk-menu-toggle" data-original-title="" title="">
                    <span class="nk-menu-icon">
                        <i class="icon fa-regular fa-file-lines"></i>
                    </span>
                    <span class="nk-menu-text">Relatórios</span>
                </a>

                <ul class="nk-menu-sub">
                    <li class="nk-menu-item">
                        <a href="/relatorios" class="nk-menu-link" data-original-title="" title="">
                            <span class="nk-menu-text">Gerenciar Relatórios</span>
                        </a>
                    </li>
                    <li class="nk-menu-item">
                        <a href="/relatorios/documentacao" class="nk-menu-link" data-original-title="" title="">
                            <span class="nk-menu-text">Documentação de Dados</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>