<div class="nk-sidebar" data-content="sidebarMenu">
    <div class="nk-sidebar-inner" data-simplebar>
        <ul class="nk-menu nk-menu-lg">
            <li class="nk-menu-heading">
                <h6 class="overline-title text-primary-alt">Plataforma ALIAS</h6>
            </li>
            <li class="nk-menu-item"><a href="/home" class="nk-menu-link">
                    <span class="nk-menu-icon">
                        <em class="icon ni ni-dashboard"></em>
                    </span>
                    <span class="nk-menu-text">Dashboard</span>
                </a>
            </li>

            <li class="nk-menu-item has-sub">
                <a href="#" class="nk-menu-link nk-menu-toggle" data-original-title="" title="">
                    <span class="nk-menu-icon">
                        <em class="icon ni ni-signin"></em>
                    </span>
                    <span class="nk-menu-text">Indivíduos</span>
                </a>

                <ul class="nk-menu-sub">
                    <li class="nk-menu-item">
                        <a href="/individuo/index" class="nk-menu-link" data-original-title="" title="">
                            <span class="nk-menu-text">Gerenciador</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="nk-menu-item has-sub">
                <a href="#" class="nk-menu-link nk-menu-toggle" data-original-title="" title="">
                    <span class="nk-menu-icon">
                        <i class="icon fa-regular fa-file-user"></i>
                    </span>
                    <span class="nk-menu-text">Mandados de Prisão</span>
                </a>

                <ul class="nk-menu-sub">
                    <li class="nk-menu-item">
                        <a href="/mtk/index" class="nk-menu-link" data-original-title="" title="">
                            <span class="nk-menu-text">Últimos mandados</span>
                        </a>
                    </li>
                    <li class="nk-menu-item">
                        <a href="/mtk/mapa" class="nk-menu-link" data-original-title="" title="">
                            <span class="nk-menu-text">Mapa</span>
                        </a>
                    </li>
                    <li class="nk-menu-item">
                        <a href="/mtk/operacoestematicas" class="nk-menu-link" data-original-title="" title="">
                            <span class="nk-menu-text">Operações temáticas</span>
                        </a>
                    </li>
                    <li class="nk-menu-item">
                        <a href="/mtk/topprocurados" class="nk-menu-link" data-original-title="" title="">
                            <span class="nk-menu-text">Top Procurados</span>
                        </a>
                    </li>
                    <li class="nk-menu-item">
                        <a href="/mtk/interpol" class="nk-menu-link" data-original-title="" title="">
                            <span class="nk-menu-text">Interpol</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>