<ul class="nk-menu apps-menu">
    <li class="nk-menu-item">
        <a href="/casos" class="nk-menu-link" title="Gerenciamento de Casos">
            <span class="nk-menu-icon">
                <em class="icon ni ni-folder"></em>
            </span>
        </a>
    </li>
    <li class="nk-menu-item d-none">
        <a href="/basesdedados" class="nk-menu-link" title="Atualizar Bases de Dados de Apoio">
            <span class="nk-menu-icon">
                <em class="icon fa-solid fa-database"></em>
            </span>
        </a>
    </li>
    <li class="nk-menu-item">
        <a href="/financeira/prompts" class="nk-menu-link" data-original-title=""
            title="Gerenciar prompts do sistema de IA">
            <span class="nk-menu-icon">
                <i class="icon fa-solid fa-microchip-ai"></i>
            </span>
        </a>
    </li>

    {% if request.user.is_superuser %}
    <li class="nk-menu-hr text-white">
        <center><small>ADM</small></center>
    </li>
    <li class="nk-menu-item">
        <a href="{% url 'usuario_list' %}" class="nk-menu-link" title="Usuários">
            <span class="nk-menu-icon">
                <em class="icon ni ni-users"></em>
            </span>
        </a>
    </li>
    <li class="nk-menu-item">
        <a href="{% url 'unidade_list' %}" class="nk-menu-link" title="Unidades">
            <span class="nk-menu-icon">
                <em class="icon ni ni-building"></em>
            </span>
        </a>
    </li>
    <li class="nk-menu-item">
        <a href="{% url 'logs' %}" class="nk-menu-link" title="Logs do Sistema">
            <span class="nk-menu-icon">
                <em class="icon ni ni-activity"></em>
            </span>
        </a>
    </li>
    {% endif %}
</ul>